:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.dc-menu .nav-link {
  position: relative;
  font-weight: 600;
  color: black;
  padding-bottom: 20px;
}

.dc-menu .nav-link.active {
  color: #0d6efd;
}

.dc-menu .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #0d6efd;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100vw;
  height: 330px;
  object-fit: cover;
  display: block;
}

.comics-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 colonne */
  gap: 20px; /* spazio tra le card */
  padding: 20px;
  justify-items: center; /* centra le card nelle colonne */
}
.comic-card {
  text-align: center;
  width: 120px; /* stessa larghezza dell'immagine */
}

.comic-card img {
  width: 120px;
  height: 180px;
  object-fit: cover;
  display: block;
}
.comic-card h3 {
  font-size: 14px; /* più piccolo */
  white-space: nowrap; /* una riga sola */
  overflow: hidden; /* nasconde il resto */
  text-overflow: ellipsis; /* aggiunge "..." se troppo lungo */
  color: white;
  margin-top: 5px;
}

.series {
  background-color: black;
  color: white;
}

.load-more-button {
  display: flex;
  justify-content: center;
}
